/*==============================
HEADER STUFF
==============================*/

/*The header*/

.gallery-header {
  margin-top: 60px;
  margin-bottom: 64px;
}

/*The "index" heading text*/

.gallery-header-text {
  display: inline-block;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 72px;
  color: white;
  letter-spacing: 2.4px;
  line-height: 86px;
  margin: 0;
  padding: 0;
  cursor: default;
  min-width: 255px;
}

/*search field*/

.heading-field {
  display: inline-block;
  width: calc(100% - 255px);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 72px;
  color: white;
  border: none;
  background: none;
  outline: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

/*Changing selection of search field to /white*/

.heading-field::selection {
  background: white;
}

/*Adding additional / after h1 heading*/

.gallery-header-text::after {
  margin-left: 10px;
  content: "/";
  color: #222;
  -webkit-transition: .2s;
  transition: .2s;
}

/*::after Stylings to match colour of search field on interaction*/

.is-focussed::after {
  color: #545454 !important;
}

.is-hovered::after {
  color: #323232;
}

/*Search bar placeholder stylings*/

.heading-field[placeholder] {
  opacity: .2;
  -webkit-transition: .2s;
  transition: .2s;
}

.heading-field:hover[placeholder] {
  opacity: .3;
}

.heading-field:focus[placeholder] {
  opacity: .5;
}

/*==============================
GALLERY ITEM STUFF
==============================*/

.game-thumb {

}
