/*==============================
HEADER STUFF
==============================*/

/*The header*/

.gallery-header {
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 15px;
}

/*The "index" heading text*/

.gallery-header-text {
  display: inline-block;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 72px;
  color: white;
  letter-spacing: 2.4px;
  line-height: 86px;
  margin: 0;
  padding: 0;
  cursor: default;
  min-width: 255px;
}

/*search field*/

.heading-field {
  display: inline-block;
  width: calc(100% - 255px);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 72px;
  color: white;
  border: none;
  background: none;
  outline: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

/*Changing selection of search field to /white*/

.heading-field::-moz-selection {
  background: white;
}

.heading-field::selection {
  background: white;
}

/*Adding additional / after h1 heading*/

.gallery-header-text::after {
  margin-left: 10px;
  content: "/";
  color: #222;
  -webkit-transition: .2s;
  transition: .2s;
}

/*::after Stylings to match colour of search field on interaction*/

.is-focussed::after {
  color: #545454 !important;
}

.is-hovered::after {
  color: #323232;
}

/*Search bar placeholder stylings*/

.heading-field[placeholder] {
  opacity: .2;
  -webkit-transition: .2s;
  transition: .2s;
}

.heading-field:hover[placeholder] {
  opacity: .3;
}

.heading-field:focus[placeholder] {
  opacity: .5;
}

/*==============================
GALLERY ITEM STUFF
==============================*/

.gallery {
  height: calc(100vh - 134px);
  overflow: scroll;
}

/*.game-item (entire gallery item)*/

.game-item {
  display: none;
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.game-item:hover {
  background: #0d0d0d;
}

/*.game-thumb (video thumbnail container of game)*/

.game-thumb {
  width: 100%;
  height: 140px;
  background: none;
  overflow:hidden;
  /*Filters*/
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  /*Transitions*/
  -webkit-transition: -webkit-filter .2s ease-in-out;
  transition: -webkit-filter .2s ease-in-out;
  transition: filter .2s ease-in-out;
  transition: filter .2s ease-in-out, -webkit-filter .2s ease-in-out;
}


.game-item:hover .game-thumb {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/*video inside of .game-thumb*/

.video {
  width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -90%);
	        transform: translate(-50%, -90%);
	z-index: 0;
}

.game-title {
  font-family: Helvetica;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 29px;
}

.game-desc {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
}


.game-tag {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #F5A623;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 16px;
  color: #F5A623;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.game-tag:hover {
  background: #F5A623;
  color: black;
}


/*Media Queryies*/


@media screen and (max-width: 700px) {
  .gallery-header-text {
    text-align: center;
    width: 100%;
    font-size: 36px;
  }
  .gallery-header-text::after {
    display: none;
  }
  .heading-field {
    display: none;
  }
}
